@import "tailwindcss";

@theme {
  /* ---------------- Couleurs ---------------- */
  /* Couleurs bg */
  --color-dark-bg: #0B0D10;
  --color-green-bg: #1e1e24;
  --color-white-bg: #f8f9fa;

  /* Couleurs sauge */
  --color-sage-green: #6B9080;
  --color-sage-dark: #5a7a6d;
  --color-sage-light: #86B29F;
  --color-sage-white: #EFF4F2;

  --color-dark-card: #141414;

  --color-gray-font: #5e6472;

  /* Couleurs code */
  --color-dark-snippet: #141619;
  --color-dark-code: #1a1d24;
  --color-purple-const: #C678DC;
  --color-blue-const: #61AFEF;
  --color-red-const: #E16C75;
  --color-green-const: #98C379;

  --color-blue-bg: #060E11;

  /* !!! Nouvelles Palettes !!! */
  --color-bg-main: #080C18;
  --color-bg-alt: #0D1323;
  --color-card-main: #10182A;

  --color-purple-accent: #5F35D5;
  --color-purple-hover: #7C5CFF;
  --color-purle-border: rgba(95, 53, 213, 0.35);
  --color-purple-glow: rgba(95, 53, 213, 0.6);

  --color-blue-accent: #4C6FFF;

  --color-title: #E8F0FF;
  --color-text-main: #94A3B8;
  --color-text-sec: #64748B;

  --color-skills-border: rgba(95, 53, 213, 0.25);
  --color-skills-hover : #5F35D5;
  --shadow-skills-glow: 0 0 15px rgba(95, 53, 213, 0.4);

  --color-strenght-bg: #0F172A;
  --color-strenght-border: rgba(76, 111, 255, 0.25);
  --color-strenght-hover: #4C6FFF;

  --color-code-bg: #0B1220;
  --color-code-border: rgba(95, 53, 213, 0.2);
  --color-code-gradient: linear-gradient(180deg, rgba(95, 53, 213, 0.05), transparent);

  --color-corner-purple: radial-gradient(circle at top right, rgba(95, 53, 213, 0.25), transparent 60%);
  --color-corner-blue: radial-gradient(circle at bottom left, rgba(76, 111, 255, 0.18), transparent 60%)


  /* Style fonts */
  --font-family-poppins: 'Poppins', sans-serif;
  --font-family-inter: 'Inter', sans-serif;
  --font-family-fira: "Fira Code", monospace;
  --font-family-link: "DM Mono", monospace;
  --font-family-space: "Space Grotesk", sans-serif;
}

/* ---------- Styles de base ------------ */
body {
  font-family: var(--font-family-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-space);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: var(--color-card-main);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-sage-dark);
}